*{
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: rgb(76, 0, 138);
    color: white;
    font-size: 40px;
    font-weight: 600;
}

#logo{
    position: absolute;
    left: 0;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

#QA{
    width: 50%;
    height: 50%;
}

#QA{
    background-color: rgb(116, 116, 116);
    border-radius: 10px;
    border: 5 solid black;
    margin-left: 5%;
    margin-bottom: 4%;
}

#questions{
    width: 80%;
    height: 40%;
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-left: 40px;
    margin-top:10%;
}

#answers{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 80%;
}

#answers label {
    margin-left: 25px;
}

#footer{
    width: 100%;
    height: 20%;
    background-color: rgb(226, 43, 243);
    color: white;
}