*{
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: rgb(76, 0, 138);
    color: white;
    font-size: 40px;
    font-weight: 600;
}

#header::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(76, 0, 138);
    clip-path: ellipse(50% 100% at 50% 0%);
}

#logo{
    position: absolute;
    left: 0;
    margin-top:2%;
    height: 20%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

#QA{
    width: 50%;
    height: 50%;
}

#QA{
    background-color: rgb(116, 116, 116);
    border-radius: 10px;
    border: 5 solid black;
    margin-left: 5%;
    margin-top: 5%;
}

#questions{
    width: 80%;
    height: 40%;
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-left: 40px;
    margin-top:15%;
}

#answers{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 80%;
}

#answers label {
    margin-left: 25px;
}

#footer {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: rgb(226, 43, 243);
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px; 
    font-size: 20px;
    font-weight: 600;
}

#footer::after {
    content: "";
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(226, 43, 243);
    clip-path: ellipse(50% 100% at 50% 100%);
}
